@media #{$desktop} {
    #contact{
        .contact{
            &-title{
              @include width_normal;
              margin-top: 30px;
              margin-bottom: 10px;
      
              h2{
                font-weight: 500;
                font-size: 2.5rem;
              }
            }
            &-description{
              width: 50%;
              margin: 0 auto;

              & > p{
                font-size: 25px;
                margin-bottom: 20px;
              }

              & > div{
                padding: 10px 20px;

                p{
                  font-size: 19px;
                }

                & > div{
                  padding: 5px;

                  p{
                    span{
                      display: inline-block;
                      min-width: 80px;
                    }
                    a{
                      text-decoration: underline;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
            &-form{
                @include width_normal;
            }
        }
    }
  }
@media #{$mobile} {
  #contact{
    .contact{
        &-title{
          @include mobile_normal;
          margin-top: 1.875rem;
          margin-bottom: 0.625rem;
  
          h2{
            font-weight: 500;
            font-size: 2.5rem;
          }
        }
        &-description{
          @include mobile_normal;

          & > p{
            font-size: 1.5625rem;
            margin-bottom: 20px;
          }

          & > div{
            padding: 10px 20px;

            p{
              font-size: 1.1875rem;
            }

            & > div{
              padding: 5px;

              p{
                span{
                  display: inline-block;
                  min-width: 80px;
                }
                a{
                  text-decoration: underline;
                  font-weight: 600;
                }
              }
            }
          }
        }
        &-form{
            @include mobile_normal;
        }
    }
}
}
  