@media #{$desktop}{
    header{
        @include width-100();

        .header{
            @include width-normal;
            @include flex-space-between;

            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 10px;

            &_title{
                img{
                    height: 40px;
                }
            }
            &_logo{
                .squere{
                    // background: rgb(214, 214, 214);
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
}
@media #{$mobile}{
    header{
        @include width-100();

        .header{
            @include mobile-normal;
            @include flex-space-between;

            justify-content: space-between;
            padding-top: 1.25rem;
            padding-bottom: 0.625rem;

            &_title{
                img{ 
                    height: 2.5rem;
                }
            }
            &_logo{
                .squere{
                    // background: rgb(214, 214, 214);
                    height: 2.1875rem;
                    width: 2.1875rem;
                }
            }
        }
    }
}