@media #{$desktop} {
  #home {
    @mixin wide {
      width: $max-width-for-desktop + 50px;
      margin: 0 auto;
    }
    .home_slider {
      @include wide;

      .indicators {
        margin-top: 0;
        position: relative;
        top: -20px;
      }
      .nav {
        background: #ffffff52;
        &:hover {
          background: #ffffffd3;
        }
      }

      &_item {
        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          height: 40vh;
        }
        &_content {
          width: calc(100% - 5rem);
          height: calc(100% - 5rem);
          padding: 2.5rem 2.5rem;

          display: flex;
          flex-direction: column;

          & > * {
            width: 100%;
          }
          & > h2 {
            font-size: 3.125rem;
            margin-top: auto;
          }
          & > p {
            font-size: 1.875rem;
          }
        }
      }
    }
    .home_title {
      @include width_normal;
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;

      h2 {
        font-weight: 500;
        font-size: 2.5rem;
        &:nth-of-type(1) {
          text-align: left;
          margin-bottom: 0.625rem;
        }
        &:nth-of-type(2) {
          text-align: right;
        }
      }
    }
    .home_description {
      @include width_normal;

      p {
        text-align: center;
        
        line-height: 1.875rem;
        font-size: 1.5rem;
      }
      .fb{
        text-align: center;
        padding: 2rem;
        font-size: 30px;

      }
    }
    .home_localizations {
      @include width_normal;
      @include flex_column;

      &_title {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        h3 {
          text-align: center;
        }
      }
      // &_map {
      //   @include flex_row;
      //   &_items {
      //     width: calc(100% / 4);
      //     &_item {
      //       width: calc(100% - 0.3125rem);
      //       height: 3.75rem;
      //       margin-bottom: 0.125rem;
      //       margin-right: 0.3125rem;
      //       border-radius: 0.3125rem;
      //       padding: 0.625rem;

      //       &:nth-last-of-type(1) {
      //         margin-bottom: 0;
      //       }

      //       &--hovered{ //TODO style this
              
      //         background: #c9ae93;
      //       }

      //       @include flex-space-between;

      //       &_data {
      //         @include flex_column;
      //         h3 {
      //           font-size: 0.9375rem;
      //         }
      //         p {
      //           font-size: 0.625rem;
      //         }
      //       }
      //       &_img {
      //         img {
      //           padding: 10px 0;
      //           height: 40px;
      //           margin-left: 10px;
      //         }
      //       }
      //     }
      //   }
      //   &_big {
      //     width: calc(100% - (100% / 4) - 20px);
      //     // min-height: 240px;
      //     margin-left: 20px;

      //     display: flex;
      //     align-items: stretch;

      //     .map {
      //       width: 100%;
      //     }
      //   }
      // }
    }
  }
}
@media #{$mobile} {
  #home {
    .home_slider {
      @include width-100;
      display: none;

      .indicators {
        margin-top: 0;
        position: relative;
        top: -1.25rem;
      }
      .nav {
        background: #ffffff52;
        &:hover {
          background: #ffffffd3;
        }
      }

      &_item {
        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          height: 18.75rem;
        }
        &_content {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          padding: 10px 40px;

          display: flex;
          flex-direction: column;

          & > * {
            width: 100%;
          }
          & > h2 {
            font-size: 50px;
            margin-top: auto;
          }
          & > p {
            font-size: 30px;
          }
        }
      }
    }
    .home_title {
      @include mobile_normal;
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;

      h2 {
        font-weight: 500;
        font-size: 2rem;
        text-align: center;
      }
    }
    .home_description {
      @include mobile_normal;

      p {
        text-align: center;
        
        line-height: 1.875rem;
        font-size: 1.3rem;
      }
      .fb{
        text-align: center;
        padding: 2rem;
      }
    }
    .home_localizations {
      @include mobile_normal;
      @include flex_column;

      &_title {
        margin-top: 30px;
        margin-bottom: 30px;
        h3 {
          text-align: center;
        }
      }
      &_map {
        @include flex_column;
        &_items {
          width: calc(100%);
          @include flex_row;
          flex-wrap: wrap;
          &_item {
            width: calc(100% / 2 - 1.5625rem);
            // height: 60px;
            margin-bottom: 2px;
            margin-right: 0.3125rem;
            border-radius: 5px;
            padding: 0.625rem;

            &:nth-last-of-type(1) {
              margin-bottom: 0;
            }

            &--hovered{ //TODO style this
              
              background: #c9ae93;
            }

            @include flex-space-between;

            &_data {
              @include flex_column;
              h3 {
                font-size: 15px;
              }
              p {
                font-size: 10px;
              }
            }
            &_img {
              img {
                padding: 5px 0;
                height: 40px;
                margin-left: 10px;
              }
            }
          }
        }
        &_big {
          width: calc(100% - 20px);
          min-height: 70vh;
          // background: rgb(185, 185, 185);
          // margin-left: 20px;
          margin: 10px;

          display: flex;
          align-items: stretch;

          .map {
            width: 100%;
          }
        }
      }
    }
  }
}
