@media #{$desktop}  {
    main{
        @include width-100;
        @include flex-column;
        z-index: 0;
        padding-bottom: 50px;

        .main{
            &_nav{
                @include width-normal;
                @include flex-row;
                padding-top: 15px;
                padding-bottom: 15px;
                
                justify-content: space-between;
                & > div{
                    @include flex-row;
                    &>div:nth-last-of-type(1)>div{
                        margin-right: 0;
                    }
                }
                &_item{
                    &:nth-last-of-type(1){
                        &_content{
                            margin-right: 0;
                        }
                    }
                    &--mobile{
                        display: none;
                    }
                    
                    &_content{
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 600;
                    
                        margin-right: 20px;

                        
                        &--active{

                        }
                        

                        $fontColor: #422C20;
                        $color01: #FAE1CA;
                        $color02: #CF8B63;
                        $font: Arial;
                        $borderColor: 2px solid #422C20;

                        text-decoration: none;
                        text-align: center;
                        display: inline-block;
                        // width: 150px;
                        line-height: 40px;
                        background-color: $color01;
                        color: $fontColor;
                        font-family: $font;
                        border-top: $borderColor;
                        font-weight: 600;
                        padding: 0 10px;

                        &:hover{
                            background-color: $color02;
                            color: $color01;
                            transition: 0.2s ease-in;
                        }

                        &:active{
                            background-color: $fontColor;
                            transition: none;
                        }
                    }
                }
            }
        }

        .main_content{
            @include width-normal;
            z-index: 4;

            &_wide{
                @include width-100;
            }
        }
    }
}
@media #{$mobile} {
    main{
        @include width-100;
        @include flex-column;
        z-index: 0;
        padding-bottom: 50px;

        .main{
            &_nav{
                @include mobile-normal;
                @include flex-row;

                padding-top: 0.9375rem;
                padding-bottom: 0.9375rem;

                flex-wrap: wrap;
                
                justify-content: space-between;
                & > div{
                    @include flex-row;
                    flex-wrap: wrap;
                    width: 100%;

                    &:nth-of-type(2){
                        display: none;
                    }
                }
                &_item{
                    width: calc(100% / 4 - 8px);
                    margin: 4px;
                    // display: flex;
                    // &:nth-last-of-type(1){
                    //     &_content{
                    //         margin-right: 0;
                    //     }
                    // }
                    &_content{
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 600;
                        
                        &--active{

                        }
                        $fontColor: #422C20;
                        $color01: #FAE1CA;
                        $color02: #CF8B63;
                        $font: Arial;
                        $borderColor: 2px solid #422C20;

                        text-decoration: none;
                        text-align: center;
                        display: block;
                        // width: 150px;
                        font-size: 3.2vw;
                        line-height: 5vw;
                        height: 10vw;
                        background-color: $color01;
                        color: $fontColor;
                        font-family: $font;
                        border-top: $borderColor;
                        font-weight: 600;
                        padding: 0 0;

                        &:hover{
                            background-color: $color02;
                            color: $color01;
                            transition: 0.2s ease-in;
                        }

                        &:active{
                            background-color: $fontColor;
                            transition: none;
                        }
                    }
                }
            }
        }

        .main_content{
            @include mobile-normal;
            z-index: 4;

            &_wide{
                @include width-100;
            }
        }
    }
}