*{
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

body{
    @include flex-column;
    @include margin-0-auto;
    cursor: default;
}
section{
    text-align: left;
}
a, i{
    text-decoration: none;
    color: #000;
}
a{
    cursor: pointer;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }
img{
    @include default-image;
}
textarea{
    resize: none;
}
button{
    @include default-button;
}