$font-family: 'Merriweather', serif;

$desktop-min-width: 1000px;
$mobile-min-width: 300px;
$mobile-max-width: 999px;
$max-width-for-desktop: 1100px;

$mobile: screen and (min-width : $mobile-min-width) and (max-width : $mobile-max-width);
$desktop: screen and (min-width: $desktop-min-width) ;

*{
    font-family: $font-family;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
}
@mixin flex_col {
    display: flex;
    flex-direction: column;
}

main{
    width: calc(100% - 10vw);
    margin: 0 auto;
}



.machines{
    @include flex_col;

    &_item{
        width: calc(100% - 20px);
        margin: 10px;

        display: grid;
        @media #{$desktop}{
            grid-template-columns: auto 60%;
            grid-template-rows: auto 591px 200px;
            grid-template-areas: "name name""details chart""ui_c ui_c";
        }
        @media #{$mobile} {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-template-areas: "name""details""ui_c""chart";
        }


        h3{

        }

        // @include flex_col;
        &_name{
            grid-area: name;
            
        }
        &_chart{
            grid-area: chart;
            // height: 100px;
        }
        &_control{
            &>div{
                @include flex_row;
                justify-content: flex-end;
            }
            button{
                padding: 0 15px;
                border-radius: 5px;
                border: none;
                color: #fff;
            }
        }
        &_details{
            grid-area: details;
            @include flex_col;
            padding-right: 20px;
            &_row{
                @include flex_row;
                justify-content: space-between;
                &>div:nth-last-of-type(1){
                    &>p,&>h4{
                        @include flex_row;
                        justify-content: flex-end;

                    }
                }
            }
        }
        &_ui_c{
            grid-area: ui_c;
            @include flex_col;
            &>div{
                @include flex_row;
                
            }
            label{
                margin-right: 20px;
                &:nth-last-of-type(1){
                    margin-right: 0;
                }


                @include flex_row;
                justify-items: baseline;


                p{
                    display: inline-block;
                    line-height: 20px;
                    margin-bottom: 0;
                }
                input{
                    display: inline-block;
                    height: 20px;
                    margin: calc(16px) 0;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
            }
        }
    }
}